<ion-header>
  <ion-toolbar>
    <ion-title>Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; width: 100%;">
    <div style="width: 85%;">
      <h1 style="color: gold; margin-left: 10%;">Pengalaman</h1>
      <div style="margin-left: 15%;">
        <h4>Saat mengikuti pelajaran AMBW saya sudah memiliki pengalaman dalam memakai git dan github karena sudah pernah mengikuti dalam kelas PPM. </h4>
      </div>
    </div>
  </div>
  <div style="display: flex; width: 100%;">
    <div style="width: 85%;">
      <h1 style="color: gold; margin-left: 10%;">Saran</h1>
      <div style="margin-left: 15%;">
        <h4>
          Dalam pemakaian kedepannya untuk Firebase jika bisa, pada kelas ini dapat diajarkan untuk memakai firestore atau realtime database bersamaan dengan pemakaian storage agar
          implementasi yang didapat lebih banyak dan saya juga ingin sekali mempelajari hal - hal tersebut.
        </h4>
      </div>
    </div>
  </div>
</ion-content>
