<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; width: 100%; height: 400px;">
    <div style="width: 100%;">
      <h1 style="color: gold; margin-left: 10%;">My Info</h1>
      <div style="margin-left: 15%;">
        <h3>Nama : Kriyan Rangke Swaha</h3>
        <h3>NRP : C14180243</h3>      
        <h3>Email : c14180243@john.petra.ac.id</h3>
        <h3>No : 08993179251</h3>
      </div>
    </div>
    <div style="width: 50%;">
      <h1 style="color: gold; margin-left: 10%;">My Foto</h1>
      <ion-img style="margin-left: 10%; max-width: 200px; max-height: 200px;" src="../assets/icon/foto.JPG"></ion-img>
    </div>
  </div>
</ion-content>
