<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foto Library
      <ion-button routerLink="/tab4">Tab 4</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let iFoto of urlImageStorage; index as position;">
        <ion-img [src]="iFoto"></ion-img>
        <center><ion-label>{{namafoto[1]}}</ion-label></center>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
